.slideshow-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* точки будут прижаты к низу */
  height: 100%;
  width: 100%;
  padding: 1rem;
}

.slide-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex-grow: 1;
  justify-content: center;
}

.slide-image {
  max-width: 100%;
  border-radius: 1rem;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.slide-image:hover {
  transform: scale(1.02);
}

.slide-caption h3,
.slide-caption p {
  margin-top: 1rem;
}

/* Индикаторы точек внизу слайда */
.dots-container {
  display: flex;
  justify-content: center;
  margin-top: auto;
  padding-top: 1rem;
}

.dot {
  width: 1.25rem;
  height: 0.4rem;
  border-radius: 9999px;
  background-color: #56b7f8;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 0 0.25rem;
}

.dot.active {
  background-color: #3700ff;
}